<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coconut Pi Dashboard</title>
    <link href="/assets/css/dist/output.css" rel="stylesheet">
    <script src="/assets/js/htmx/htmx.min.js"></script>
    <script src="/assets/js/htmx/sse.js"></script>
</head>

<body class="bg-gray-200">
    <main class="min-h-screen px-36">
        <header class="p-5 bg-blue-400">
            <h1 class="text-2xl font-bold">🌴 Coconut Pi Dashboard 🥥</h1>
        </header>

        <div hx-ext="sse" sse-connect="/status" class="py-4 grid grid-cols-3 gap-4">
            <div class="bg-white shadow rounded-lg p-4 h-24">
                <h2 class="font-bold text-xl mb-2">Temperature 🌡️</h2>
                <p sse-swap="temp" id="temperature">...</p>
            </div>

            <div class="bg-white shadow rounded-lg p-4 h-24">
                <h2 class="font-bold text-xl mb-2">Voltage ⚡️</h2>
                <p sse-swap="volt" id="voltage">...</p>
            </div>

            <div class="bg-white shadow rounded-lg p-4 h-24">
                <h2 class="font-bold text-xl mb-2">Clock ⏲</h2>
                <p sse-swap="clock" id="clock">...</p>
            </div>
        </div>
    </main>
</body>

</html>